/* Register.css */

.formContainer {
  background-color: rgb(106, 0, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.formWrapper {
  background-color: white;
  padding: 20px 60px;
  border-radius: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
  flex-direction: column;
  gap: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  display: flex;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color:
}

.title {
  font-size: 20px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}
input{
    padding: 10px;
    border: none;
    width: 280px;
    border-bottom: 1px solid ;
}
.button{
display: flex;
background-color: blue;
color:rgb(42, 7, 170);
padding: 10px;
font-weight: bold;
cursor: pointer;
}