/* Register.css */

.formContainer {
  display: flex;
  background-color: rgba(16, 30, 50, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.formWrapper {

  padding: 155px 60px;
  border-radius: 70px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 322px;
  flex-direction: column;
  gap: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  display: flex;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white
}

.title {
  color: #F5F5F5;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

form {
  display: flex;
  flex-direction: column;
}
input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid ;
}
.button{
  width: 235px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #7D8243;
  cursor: pointer;
 
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;

  justify-content: flex-end;
}
.buttonOTP{
  display: flex;
  background-color: darkgreen;
  color: white;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;

  }
  label{
    display: flex;
        align-items: center;
        gap: 10px;
        color: #8da4f1;
        font-size: 13px;
        cursor: pointer;
  }
  .avatar-label {
    display: flex;
    width: 200px;
    /*Adjustwidthasneeded*/text-align: center;
    cursor: pointer;
    border-radius: 8px;
    padding: 1px;
    background-color:rgba(16, 30, 50, 1);
    transition: background-color 0.3s ease;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
  
  .avatar-label:hover {
    background-color: #211a22;
  }
  
  .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }
  
  .add-icon {
    width: 50px;
    /*Adjusttheiconsizeasneeded*/height: 50px;
    border-radius: 50%;
    /*Adjusttheiconsizeasneeded*/:;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
  
  .label-text {
    margin-top: 5px;
    font-weight: bold;
    color: white;
  }
  .formCont{

  display: flex;
  background-color:rgba(16, 30, 50, 1) ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;

  }    
  .formOTP{
    background-color:rgba(16, 30, 50, 1) ;
    padding: 20px 60px;
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    flex-direction: column;
    gap: 5px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    display: flex;
}
 /* styles.css */
p {
  color: white; /* You can use any valid CSS color value here. */
}
.tId{
  width: 266px;
  height: 37px;
  flex-shrink: 0;
  color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: thin;
font-weight: 300;
line-height: normal;
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal Content */
.modal-content {
  position: fixed;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; /* Adjust the z-index value as needed to ensure it's on top of other content */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Close Button */
.close-button {
  margin-top: 10px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.close-button {
  position: absolute;
  color: #FFF;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  z-index: 1002; /* Higher z-index than the modal */
}

.close-button:hover {
  color: red; /* You can change the color on hover */
}
.OR{
  color: #F5F5F5;
}
.modal{
  width: 50px;
  background-color: brown;
}



